.admin-wrapper {
  margin: 0 10px;
}

.ssafari-user-data {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid lightgray;
}

.user-count-wrapper {
  display: flex;
  margin: 0 3%;
}

.user-count-wrapper .user-count-box {
  border: 1px solid lightgray;
  border-radius: 10px;
  background: linear-gradient(138deg, rgba(170,170,170,0.40379901960784315) 0%, rgba(184,183,184,1) 100%);
  box-shadow: 3px 3px 7px lightgray;
}

.user-count-wrapper .user-count-box p {
  text-align: center;
}

.user-count-wrapper .user-count-box p:first-child {
  font-size: 18px;
  font-family: 'Nanum Gothic';
}

.user-count-wrapper .user-count-box p:last-child {
  font-size: 50px;
  font-family: 'QuickSand';
  font-weight: 800;
}