.scroll-alert {
  position: relative;
  top: 250px;
  z-index: 1;
  font-size: 3.5em;
  font-family: 'Julius Sans One', sans-serif;
  text-shadow: 3px 3px 5px slategrey;
  text-align: center;
  letter-spacing: 2px;
  animation: title 3s 1;
}

@media (max-width: 700px) {
  .scroll-alert {
    font-size: 2.5em;
  }
}

#homepage-imgbanner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url('../../../public/img/background/mainimgbanner.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  clip-path: circle(0px at center);
  background-blend-mode: normal;
}

.container-fluid {
  position: relative;
  margin-top: 90vh;
  background: #f6f6f6;
}

.homepage-contents{
  scroll-behavior: smooth;
}

#homepage-imgbanner:hover {
  color: darkblue;
  background-color: lightgray;
  background-blend-mode: screen;
}

.team-introduction {
  display: inline;
  text-align: center;
  line-height: 2;
}

.team-intro-text,
.portfolio-title,
.post-title {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  color: rgb(124, 127, 136);
  text-align: left;
  vertical-align: middle;
  padding: 10px 10px 0;
}

.intro-text-1 {
  display: inline;
  padding-bottom: 50px;
}
.intro-text-2 {
  display: inline;
}

@media (min-width: 960px) {
  .team-intro-text,
  .portfolio-title,
  .post-title {
    font-size: 2.2em;
  }

  .team-slogan {
    font-size: 4em;
  }
}

@media (min-width: 600px) and (max-width: 959px) {
  .team-intro-text,
  .portfolio-title,
  .post-title {
    font-size: 2.75em;
  }

  .team-slogan {
    font-size: 3.25em;
  }
}

@media (max-width: 599px) {
  .team-intro-text,
  .portfolio-title,
  .post-title {
    font-size: 2em;
  }

  .team-slogan {
    font-size: 2.5em;
  }
}

.intro-text-1,
.portfolio-title,
.post-title {
  margin-left: 13%;
  display: inline;
}

.teaminfo-link:hover {
  cursor: pointer;
  color: #f7b157;
}

hr {
  margin-top: 10px;
}

.team-slogan {
  font-family: 'Black Han Sans', sans-serif;
  color: #CACBC4;
  text-align: center;
  text-shadow: 2px 2px black;
  padding: 10px 0;
}

.team-intro-images,
.language-icon {
  text-align: center;
  padding-top: 5px;
  margin: 0 10%;
}

.feature-on-text {
  font-size: 2.2rem;
  font-family: 'Quicksand', sans-serif;
  text-shadow: 3px 3px 3px lightgrey;
  padding-top: 5px;
}

@media (max-width: 599px) {
  .feature-on-text {
    font-size: 1.7rem;
    padding: 0;
  }
  
  .language-icon {
    padding: 0;
    margin: 0 5%;
  }
}

#team-img,
#lang-icon {
  text-align: center;
}

#lang-icon {
  margin: 0 25px;
}

@media (min-width: 1201px) {
  #team-img {
    width: 33%;
  }
  #lang-icon {
    width: 8%;
  }
}
@media (min-width: 801px) and (max-width: 1200px) {
  #team-img {
    width: 50%;
  }
  #lang-icon {
    width: 8%;
    margin: 10px 20px 0;
  }
}

@media (max-width: 800px) {
  #team-img {
    width: 90%;
  }
  #lang-icon {
    width: 7%;
    margin: 10px 15px 0;
  }
}

.sidenav {
  height:100%;
  position: fixed;
  top : 50%;
  z-index:1;
  right: 1rem;
  overflow-x: hidden;
}

.sidenav i:hover {
  cursor:pointer;
}

@keyframes title {
  from {
    color: lightslategrey;
    margin-bottom: -50px;
  }
  30% {
    letter-spacing: 10px;
    margin-bottom: -50px;
  }
  85% {
    letter-spacing: 2px;
    margin-bottom: -50px;
  }
}

.button-box {
  display:inline;
  margin-left:20px;
}

.addButton {
  margin-right: 15px;
  background-color: transparent;
  border: 2px solid #f7b157;
  display: inline-block;
  min-width: 130px;
  padding: 0 33px;
  height: 42px;
  line-height: 36px;
  border-radius: 42px;
  font-size: 10px;
  letter-spacing: 0.065em;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Montserrat, Helvetica, sans-serif;
  cursor: pointer;
  color: #333435;
  text-align: center;
  text-decoration: none;
  transition: background-color .25s ease-out, box-shadow .25s ease;
}

.addButton:hover,
.addButton:focus,
.addButton:active {
  background-color: #f7b157;
  color: white;
  box-shadow: none
}