.mypage {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  font-family: 'Sarabun', sans-serif;
}

.mypage .mypage-menu {
  background-color: #FFF;
  height: 100%;
  min-width: 180px;
  border: 1px solid #d6d6d6;
}

.mypage-menu h2 {
  font-family: 'Gothic A1', sans-serif;
  text-transform: uppercase;
  margin-bottom: 23px;
  text-align: left;
  color:#60666c;
  font-size: 24px;
}

.member-management-title,
.mypost-title {
  font-size: 15px;
  font-weight: bold;
  padding-left: 14px;
  padding-bottom: 5px;
  font-family: 'Noto Sans KR', sans-serif;
}

ul[class='member-management-menu'],
ul[class='mypost-menu'] {
  padding-left: 5px;
}

ul[class='member-management-menu'] > li,
ul[class='mypost-menu'] > li {
  font-family: 'Nanum Gothic', sans-serif;
  list-style: none;
  text-decoration: none;
  font-size: 14px;
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(225, 225, 225, 0.05);
}

ul[class='member-management-menu'] > li > .fas,
ul[class='member-management-menu'] > li > .fab,
ul[class='mypost-menu'] > li > .fas {
  width: 30px;
}

.separate-section {
  height: 2px;
  margin: 20px 0;
}

ul[class='member-management-menu'] > li:hover,
ul[class='mypost-menu'] > li:hover {
  font-weight: 800;
  background: #FFF7E2;
  cursor: pointer;
}

.mypage-menu > .mypage-description,
.mypage-menu .admin-page {
  font-size: 15px;
  font-weight: bold;
  font-family: 'Nanum Gothic', sans-serif;
  margin-top: 20px;
  padding: 5px 0 5px 14px;
}

.mypage-menu > .mypage-description:hover,
.mypage-menu > .admin-page:hover {
  background: #FFF7E2;
  cursor: pointer;
}

.mypage-description-section ul {
  padding-left: 16px;
}

.mypage-description-section ul > li {
  font-size: 14.5px;
  padding-bottom: 6px;
}

.mypage-menu-small {
  height: 80px;
  background-color: #F9F3ED;
  padding: 5px 20px;
}

.mypage-menu-select,
.mypage-menu-title {
  margin-top: 18px;
}

.mypage-menu-title {
  font-size: 21px;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  color: #FF8008;
  text-shadow: 4px 4px 6px lightgray;
}

#mypage-profile-image {
  margin-bottom: 30px;
}

@media (min-width: 959px) {
  .mypage {
    display: flex;
  }

  .mypage-menu-small {
    display: none;
  }
}

@media (max-width: 959px) {
  .mypage {
    display: block;
  }
}