.carousel-wrapper {
  margin: 10px 10px;
}

.slide-elements {
  margin: 0 10px;
}

.slide-elements:first-child {
  margin-left: 0;
  margin-right: 10px;
}

.slide-elements:last-child {
  margin-right: 0;
  margin-left: 10px;
}

.slide-contents {
  margin-top: 15px;
}

.slide-title {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: 'Gothic A1', sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.image-slide {
  /* width: 220px;
  max-height: 500px; */
  width: 300px;
  height: 400px;
  margin: 0 auto;
}

.vueper-img-slide {
  border-radius: 16px;
  box-shadow: 0 6px 15px rgba(36, 37, 38, 0.28);
  font-weight: bold;
  background-blend-mode: normal;
  transition: box-shadow 0.25s ease, transform 0.25s ease;
}

.vueper-img-slide:hover {
  box-shadow: 6px 6px 3px lightgray;
  background-color: darkgrey;
  background-blend-mode: screen;
}

.portfolio-carousel-contents {
  height: 100%;
  padding: 15px;
  display: grid;
  align-content: space-between;
}

.portfolio-carousel-contents .portfolio-carousel-title {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 1.3em;
  margin-bottom: 15px;
  height: 28px;
  line-height: 1.3;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.portfolio-carousel-contents .portfolio-carousel-subinfo {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 1.1em;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.portfolio-carousel-contents .portfolio-carousel-subinfo .portfolio-carousel-etc {
  text-align: right;
}

.portfolio-carousel-image {
  text-align: center;
  overflow: hidden;
  /* position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 250px;
  height: 250px;
  text-align: center; */
}

.portfolio-carousel-image img {
  /* position: relative; */
  width: 100%;
  height: auto;
}
