a {
  text-decoration: none;
}

.col {
  padding:3px 0px;
}
.subheader-top {
  background-color: lightgray;
  padding: 10px;
  padding-bottom : 0px;
  margin-bottom: 5px;
}

.subheader-section:first-child {
  border-right: 1px solid black;
}


.subheader-section-title-1,
.subheader-section-title-2 {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 19px;
  font-weight: bold;
}


.createBoardBtn {
  font-size: 15px;
  border: 1px solid black;
  border-radius: 5px 5px;
  background-color: whitesmoke;
  padding: 1px;
}

.createBoardBtn:hover {
  box-shadow: 1px 1px 5px darkslategrey;
}

i:hover{
  cursor: pointer;
}

@media (max-width: 890px) {
  .subheader-section-title-1,
  .subheader-section-title-2 {
    font-size: 15px;
  }

  .createBoardBtn {
    font-size: 13px;
  }

  .subheader-section-title-2 {
    display: block;
  }

  .subheader-section-title-2 > span:nth-child(2) > div {
    margin-top: 5px;
  }

}

@media (min-width: 890px) {
  .free-notice::after {
    content: ' 자유게시판';
  }

  .love-notice::after {
    content: ' 사랑의 오작교';
  }

  .job-notice::after {
    content: ' 취업 게시판';
  }

  .code-notice::after {
    content: ' 코드리뷰';
  }

  .restaurant-notice::after {
    content: ' 주변맛집';
  }

}

@media (max-width: 890px) {
  .common-notice {
    display: block;
  }

  .subheader-section-title-1,
  .common-notice div {
    text-align: center;
  }
}

/*  .notice-kind {
  display: flex;
  line-height: 80px;
  justify-content: space-evenly;
}

.notice-kind>span {
  font-size: 1.2em;
  font-family: 'Nanum Gothic', sans-serif;
}

.notice-kind>span:first-child {
  padding-right: 20px;
}

.notice-kind>span:last-child {
  padding-left: 20px;
}

.notice-kind>span:nth-child(2),
.notice-kind>span:nth-child(3),
.notice-kind>span:nth-child(4) {
  padding: 0 20px;
}

@media (min-width: 540px) {
  .free-notice::after {
    content: ' 자유게시판';
  }

  .love-notice::after {
    content: ' 사랑의 오작교';
  }

  .job-notice::after {
    content: ' 취업 게시판';
  }

  .code-notice::after {
    content: ' 코드리뷰';
  }

  .restaurant-notice::after {
    content: ' 주변맛집';
  }

  @media (min-width: 680px) and (max-width: 880px) {
    .notice-kind>span {
      padding: 0 10px;
      font-size: 1em;
    }

    .notice-kind>span:first-child {
      padding-right: 15px;
    }

    .notice-kind>span:last-child {
      padding-left: 15px;
    }

    .notice-kind>span:nth-child(2),
    .notice-kind>span:nth-child(3),
    .notice-kind>span:nth-child(4) {
      padding: 0 15px;
    }
  }

  @media (min-width: 540px) and (max-width: 679px) {
    .notice-kind>span {
      padding: 0 5px;
      font-size: 0.8em;
    }

    .notice-kind>span:first-child {
      padding-right: 10px;
    }

    .notice-kind>span:last-child {
      padding-left: 10px;
    }

    .notice-kind>span:nth-child(2),
    .notice-kind>span:nth-child(3),
    .notice-kind>span:nth-child(4) {
      padding: 0 10px;
    }
  }
} */